[user]
	email = squattingmonk@gmail.com
	name = Michael A. Sinclair
[core]
	editor = vim
	excludesfile = ~/.gitignore
[push]
	default = simple
[credential]
	helper = cache --timeout 7200
[credential "https://github.com"]
	username = squattingmonk
