! Colors
#include ".config/colors/autobahn"

*font: xft:Liberation Mono:size=11

! Xft
Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   false
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

! vim: set ft=xdefaults :
