! Colors
#include ".config/colors/autobahn"

*font: xft:Monospace:size=12

! Xft
Xft.antialias: true
Xft.hinting:   false
Xft.hintstyle: hintnone
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb

! vim: set ft=xdefaults :
