configuration {
	modi: "drun,run,window,ssh";
	width: 750;
	lines: 10;
	font: "sans-serif 12";
	separator-style: "solid";
	terminal: "kitty";
	run-command: "fish -c '{cmd}'";
	hide-scrollbar: true;
	display-window: "Windows";
	display-run: "Run";
	display-ssh: "SSH";
	display-drun: "Launch";
}
@theme "nord"
