snippet meta "File metadata boilerplate" b
// -----------------------------------------------------------------------------
//    File: ${1:`!v expand('%:t')`}
//  System: ${2}
//     URL: https://github.com/squattingmonk/`#!/usr/bin/fish
			basename (git rev-parse --show-toplevel)
			`
// Authors: Michael A. Sinclair (Squatting Monk) <squattingmonk@gmail.com>
// -----------------------------------------------------------------------------
$0
endsnippet

snippet cline "Commented divider line" b
// -----------------------------------------------------------------------------

endsnippet

snippet cblock "Commented centered text block" b
// -----------------------------------------------------------------------------
// `!p snip.rv = ' ' * (38 - len(t[1]) // 2)`${1:Centered Text}
// -----------------------------------------------------------------------------
$0
endsnippet
